nav.navbar.navbar-expand-md.navbar-dark.bg-dark
  a.navbar-brand.h1(href="") PSD2 Payment
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='/home') Home
      li.nav-item
        a.nav-link(href='/createTransactionRequest') Transaction
