extends ../graphic/layout

block content
  main(role='main')
    .jumbotron
      .container
        h1.display-3 PSD2 Payment Home
        p
          | This is the web application of the ISP for PSD2 payments
        p
          a.btn.btn-primary.btn-lg(href='https://ec.europa.eu/info/law/payment-services-psd-2-directive-eu-2015-2366_en', role='button') Learn more »
    .container
      .row
        .col-md-4
          h2 Admin Only
          p
            | The admin of the internet service provider is the only one who have the function to
            | perform PSD2 payment to the shops of the loyalty program.
            | The admin can select the functions in the superior navbar.
            | Especially, "transaction" will redirect him to the page used to perform a payment to a shop, following his request to be payed.
          p
        .col-md-4
          h2 Euro Countries
          p
            | PSD2 gives to the admin of the application the possibility to perform payments in euro in every country in the EU.
            | Implementing measures for Directive (EU) 2015/2366 on payment services
            | EU countries had to transpose Directive (EU) 2015/2366 into national law by 13 January 2018. Some Member States have not yet communicated their transpositions measures.
          p
        .col-md-4
          h2 No Intermediaries
          p
            | When we buy something online we typically enter our payment details into the merchants website, and the merchant then gets the money from your bank account by way of a few intermediaries
            | With PSD2, the Directive will allow retailers to ‘ask’ consumers for permission to use your bank details. Once you give permission, the retailer will receive the payment directly from your bank – no intermediaries
          p

  // Footer
  include ../graphic/footer.pug
  script(src='../../assets/js/ie10-viewport-bug-workaround.js')
